doctype html
html(lang="en")
    include partials/head.pug
    body(class="dark:bg-slate-950 dark:text-stone-100 bg-stone-100 text-slate-950 transition-colors")
        include partials/header.pug
        section(class="w-full flex justify-center mt-20")
            div(class="w-[80%]") 
                div change credentials 
                div edit terms 
                div delete terms