head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='/output.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    link(rel="icon", href="/images/favicon.ico", type="favicon")
    meta(name="description", content=desc)
    meta(name="keywords", content=keywords)
    title= title
    script(src="/scripts/prerender_theme.js")
    script(type="module", src="/scripts/theme.js")
    script(type="module", src="/scripts/burger.js")