header(class="flex items-center gap-4") 
    div(class="p-4")
        button(class="p-2 mx-2 w-[10ch] font-semibold font-mono hover:bg-slate-500 hover:text-stone-200 rounded-md select-none whitespace-nowrap" type="button" id="light") 🔆 Light
        button(class="p-2 mx-2 w-[10ch] font-semibold font-mono hover:bg-slate-500 hover:text-stone-200 rounded-md select-none whitespace-nowrap" type="button" id="dark") 🌑 Dark
    nav(class="")
        ul
            li
                a(href="/") Home 