div(class="p-4") 
    form(action="/term/search" method="get" id="filter_form" name="filter_form" class="flex flex-col items-center") 
        label(for="term" class="w-[10ch] whitespace-nowrap pb-4 text-base") Search 🔎
        input(type="text" id="term" name="term" class=" dark:text-stone-200 dark:bg-stone-950 ring-2 ring-stone-950 dark:ring-stone-200 rounded-md p-2")